In [2]:
import pandas as pd
import datetime

In [3]:
df = pd.read_csv('testData.csv', header=None)
df.head()

    0     1   2   3                    4   5
0  42  OPEN   8  22  2018-03-13 15:22:45 NaN
1  30  OPEN   5  15  2018-03-13 15:22:20 NaN
2  54  OPEN   8  25  2018-03-13 15:23:01 NaN
3  56  OPEN  30  10  2018-03-13 15:22:42 NaN
4   6  OPEN   5  15  2018-03-13 15:23:30 NaN

In [4]:
df1 = pd.read_csv('dublin_weather.csv')
df1.head()

,city_id,clouds.all,dt,dt_iso,main.humidity,main.pressure,main.temp,main.temp_max,main.temp_min,rain.1h,rain.24h,rain.3h,wind.deg,wind.speed,weather.description,weather.icon,weather.id,weather.main
0,2964574,75,1514764800,2018-01-01 00:00:00 +0000 UTC,80,990,277.15,277.15,277.15,NaN,NaN,NaN,240,11,broken clouds,04n,803,Clouds
1,2964574,75,1514768400,2018-01-01 01:00:00 +0000 UTC,80,990,277.58,278.15,277.15,NaN,NaN,NaN,240,13,light rain,10n,500,Rain
2,2964574,40,1514772000,2018-01-01 02:00:00 +0000 UTC,86,990,277.15,277.15,277.15,NaN,NaN,NaN,240,10,scattered clouds,03n,802,Clouds
3,2964574,40,1514775600,2018-01-01 03:00:00 +0000 UTC,80,990,277.58,278.15,277.15,NaN,NaN,NaN,250,12,light intensity shower rain,09n,520,Rain
4,2964574,40,1514779200,2018-01-01 04:00:00 +0000 UTC,80,990,277.58,278.15,277.15,NaN,NaN,NaN,240,9,scattered clouds,03n,802,Clouds

In [5]:
df_weather = df1[['dt_iso', 'main.temp', 'weather.main']]
df_weather.head(5)

                          dt_iso  main.temp weather.main
0  2018-01-01 00:00:00 +0000 UTC     277.15       Clouds
1  2018-01-01 01:00:00 +0000 UTC     277.58         Rain
2  2018-01-01 02:00:00 +0000 UTC     277.15       Clouds
3  2018-01-01 03:00:00 +0000 UTC     277.58         Rain
4  2018-01-01 04:00:00 +0000 UTC     277.58       Clouds

In [6]:
HourList = []
for row in df_weather.iterrows():
    split = row[1]['dt_iso'].split(' ')
    hour = (split[1].split(':'))
    HourList.append(hour[0])
HourList

['00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 ...]

In [7]:
df_Hour = pd.DataFrame({'Hour':HourList})
df_Hour['Hour'] = df_Hour['Hour'].astype('int64')

df_new = pd.concat([df_weather, df_Hour], axis=1)
df_new

                             dt_iso  main.temp weather.main  Hour
0     2018-01-01 00:00:00 +0000 UTC     277.15       Clouds     0
1     2018-01-01 01:00:00 +0000 UTC     277.58         Rain     1
2     2018-01-01 02:00:00 +0000 UTC     277.15       Clouds     2
3     2018-01-01 03:00:00 +0000 UTC     277.58         Rain     3
4     2018-01-01 04:00:00 +0000 UTC     277.58       Clouds     4
5     2018-01-01 05:00:00 +0000 UTC     278.15       Clouds     5
6     2018-01-01 06:00:00 +0000 UTC     278.15       Clouds     6
7     2018-01-01 07:00:00 +0000 UTC     277.58       Clouds     7
8     2018-01-01 08:00:00 +0000 UTC     277.15       Clouds     8
9     2018-01-01 09:00:00 +0000 UTC     277.15       Clouds     9
10    2018-01-01 10:00:00 +0000 UTC     277.58       Clouds    10
11    2018-01-01 11:00:00 +0000 UTC     278.58       Clouds    11
12    2018-01-01 12:00:00 +0000 UTC     279.58       Clouds    12
13    2018-01-01 13:00:00 +0000 UTC     280.15         Rain    13
14    2018-01-01 14:00:00 +0000 UTC     280.28         Rain    14
15    2018-01-01 15:00:00 +0000 UTC     280.15         Rain    15
16    2018-01-01 16:00:00 +0000 UTC     280.15       Clouds    16
17    2018-01-01 17:00:00 +0000 UTC     279.15       Clouds    17
18    2018-01-01 18:00:00 +0000 UTC     278.72       Clouds    18
19    2018-01-01 19:00:00 +0000 UTC     278.15       Clouds    19
20    2018-01-01 20:00:00 +0000 UTC     278.15       Clouds    20
21    2018-01-01 21:00:00 +0000 UTC     278.15       Clouds    21
22    2018-01-01 22:00:00 +0000 UTC     277.15       Clouds    22
23    2018-01-01 23:00:00 +0000 UTC     276.15       Clouds    23
24    2018-01-02 00:00:00 +0000 UTC     276.72       Clouds     0
25    2018-01-02 01:00:00 +0000 UTC     276.58       Clouds     1
26    2018-01-02 02:00:00 +0000 UTC     277.15       Clouds     2
27    2018-01-02 03:00:00 +0000 UTC     277.72       Clouds     3
28    2018-01-02 04:00:00 +0000 UTC     277.72       Clouds     4
29    2018-01-02 05:00:00 +0000 UTC     278.72       Clouds     5
...                             ...        ...          ...   ...
2173  2018-04-01 20:00:00 +0000 UTC     277.58         Rain    20
2174  2018-04-01 21:00:00 +0000 UTC     277.58         Rain    21
2175  2018-04-01 22:00:00 +0000 UTC     277.15         Rain    22
2176  2018-04-01 23:00:00 +0000 UTC     276.58         Rain    23
2177  2018-04-02 00:00:00 +0000 UTC     277.15         Rain     0
2178  2018-04-02 00:00:00 +0000 UTC     277.15         Rain     0
2179  2018-04-02 01:00:00 +0000 UTC     276.15         Rain     1
2180  2018-04-02 02:00:00 +0000 UTC     276.58         Rain     2
2181  2018-04-02 03:00:00 +0000 UTC     276.15         Rain     3
2182  2018-04-02 04:00:00 +0000 UTC     276.15         Rain     4
2183  2018-04-02 05:00:00 +0000 UTC     276.15         Rain     5
2184  2018-04-02 06:00:00 +0000 UTC     276.58         Rain     6
2185  2018-04-02 07:00:00 +0000 UTC     276.15         Rain     7
2186  2018-04-02 08:00:00 +0000 UTC     277.15         Rain     8
2187  2018-04-02 09:00:00 +0000 UTC     277.15         Rain     9
2188  2018-04-02 10:00:00 +0000 UTC     277.15         Rain    10
2189  2018-04-02 11:00:00 +0000 UTC     277.54         Rain    11
2190  2018-04-02 12:00:00 +0000 UTC     278.15         Rain    12
2191  2018-04-02 13:00:00 +0000 UTC     278.15         Rain    13
2192  2018-04-02 14:00:00 +0000 UTC     278.58         Rain    14
2193  2018-04-02 15:00:00 +0000 UTC     279.58         Rain    15
2194  2018-04-02 16:00:00 +0000 UTC     280.15         Rain    16
2195  2018-04-02 17:00:00 +0000 UTC     280.15          Fog    17
2196  2018-04-02 18:00:00 +0000 UTC     280.15          Fog    18
2197  2018-04-02 19:00:00 +0000 UTC     280.15          Fog    19
2198  2018-04-02 20:00:00 +0000 UTC     279.72         Rain    20
2199  2018-04-02 21:00:00 +0000 UTC     279.72         Rain    21
2200  2018-04-02 22:00:00 +0000 UTC     279.66         Rain    22
2201  2018-04-02 23:00:00 +0000 UTC     279.15         Rain    23
2202  2018-04-03 00:00:00 +0000 UTC     279.15         Mist     0

[2203 rows x 4 columns]

In [8]:
DayList = []
for row in df_weather.iterrows():
    split = row[1]['dt_iso'].split(' ')
    DayList.append(split[0])
DayList

['2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-01',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-02',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-03',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-04',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-05',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-06',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-07',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-08',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-09',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-10',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-11',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-12',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-13',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-14',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-15',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-16',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-17',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-18',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-19',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-20',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-21',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-22',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-23',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-24',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-25',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-26',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-27',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-28',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-29',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-30',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-01-31',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-01',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-02',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-03',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-04',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-05',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-06',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-07',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-08',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-09',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-10',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 '2018-02-11',
 ...]

In [9]:
df_Day = pd.DataFrame({'Day':DayList})
df_Day['Day'] = df_Day['Day'].astype('str')

df_Days = pd.concat([df_new, df_Day], axis=1)
df_Days.head()

                          dt_iso  main.temp weather.main  Hour         Day
0  2018-01-01 00:00:00 +0000 UTC     277.15       Clouds     0  2018-01-01
1  2018-01-01 01:00:00 +0000 UTC     277.58         Rain     1  2018-01-01
2  2018-01-01 02:00:00 +0000 UTC     277.15       Clouds     2  2018-01-01
3  2018-01-01 03:00:00 +0000 UTC     277.58         Rain     3  2018-01-01
4  2018-01-01 04:00:00 +0000 UTC     277.58       Clouds     4  2018-01-01

In [10]:
df_Days.groupby('weather.main')['weather.main'].apply(lambda x: x.count())

weather.main
Clear        59
Clouds     1350
Drizzle     181
Fog          44
Mist         55
Rain        382
Snow        132
Name: weather.main, dtype: int64

In [11]:
df_Days = df_Days.drop(['dt_iso'], axis=1)
df_Days.head()

   main.temp weather.main  Hour         Day
0     277.15       Clouds     0  2018-01-01
1     277.58         Rain     1  2018-01-01
2     277.15       Clouds     2  2018-01-01
3     277.58         Rain     3  2018-01-01
4     277.58       Clouds     4  2018-01-01

In [12]:
RainList = []
for row in df_Days['weather.main'].iteritems():
    if row[1] == 'Rain' or row[1] == 'Drizzle':
        RainList.append(1)
    else:
        RainList.append(0)
RainList

[0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 ...]

In [13]:
df_Rain = pd.DataFrame({'Rain':RainList })
df_Rain['Rain'] = df_Rain['Rain'].astype('bool')
CleanedDF = pd.concat([df_Days, df_Rain], axis=1)
final_df = CleanedDF.tail(485)
final_df

      main.temp weather.main  Hour         Day   Rain
1718     282.15       Clouds    15  2018-03-13  False
1719     282.15       Clouds    16  2018-03-13  False
1720     282.15       Clouds    17  2018-03-13  False
1721     282.15       Clouds    18  2018-03-13  False
1722     280.72       Clouds    19  2018-03-13  False
1723     279.58       Clouds    20  2018-03-13  False
1724     280.15       Clouds    21  2018-03-13  False
1725     281.15       Clouds    22  2018-03-13  False
1726     280.72       Clouds    23  2018-03-13  False
1727     280.72         Rain     0  2018-03-14   True
1728     280.72       Clouds     1  2018-03-14  False
1729     280.72      Drizzle     2  2018-03-14   True
1730     280.72      Drizzle     3  2018-03-14   True
1731     280.72      Drizzle     4  2018-03-14   True
1732     280.72      Drizzle     5  2018-03-14   True
1733     280.72      Drizzle     6  2018-03-14   True
1734     280.72         Rain     7  2018-03-14   True
1735     280.72         Rain     8  2018-03-14   True
1736     281.16         Rain     9  2018-03-14   True
1737     281.66         Rain    10  2018-03-14   True
1738     282.16         Rain    11  2018-03-14   True
1739     282.16         Rain    12  2018-03-14   True
1740     282.16         Rain    13  2018-03-14   True
1741     281.66         Rain    14  2018-03-14   True
1742     281.66         Rain    15  2018-03-14   True
1743     281.16         Rain    16  2018-03-14   True
1744     281.28         Rain    17  2018-03-14   True
1745     281.72         Rain    18  2018-03-14   True
1746     281.72         Rain    19  2018-03-14   True
1747     281.72         Rain    20  2018-03-14   True
...         ...          ...   ...         ...    ...
2173     277.58         Rain    20  2018-04-01   True
2174     277.58         Rain    21  2018-04-01   True
2175     277.15         Rain    22  2018-04-01   True
2176     276.58         Rain    23  2018-04-01   True
2177     277.15         Rain     0  2018-04-02   True
2178     277.15         Rain     0  2018-04-02   True
2179     276.15         Rain     1  2018-04-02   True
2180     276.58         Rain     2  2018-04-02   True
2181     276.15         Rain     3  2018-04-02   True
2182     276.15         Rain     4  2018-04-02   True
2183     276.15         Rain     5  2018-04-02   True
2184     276.58         Rain     6  2018-04-02   True
2185     276.15         Rain     7  2018-04-02   True
2186     277.15         Rain     8  2018-04-02   True
2187     277.15         Rain     9  2018-04-02   True
2188     277.15         Rain    10  2018-04-02   True
2189     277.54         Rain    11  2018-04-02   True
2190     278.15         Rain    12  2018-04-02   True
2191     278.15         Rain    13  2018-04-02   True
2192     278.58         Rain    14  2018-04-02   True
2193     279.58         Rain    15  2018-04-02   True
2194     280.15         Rain    16  2018-04-02   True
2195     280.15          Fog    17  2018-04-02  False
2196     280.15          Fog    18  2018-04-02  False
2197     280.15          Fog    19  2018-04-02  False
2198     279.72         Rain    20  2018-04-02   True
2199     279.72         Rain    21  2018-04-02   True
2200     279.66         Rain    22  2018-04-02   True
2201     279.15         Rain    23  2018-04-02   True
2202     279.15         Mist     0  2018-04-03  False

[485 rows x 5 columns]

In [14]:
# now for the test
df.head()

    0     1   2   3                    4   5
0  42  OPEN   8  22  2018-03-13 15:22:45 NaN
1  30  OPEN   5  15  2018-03-13 15:22:20 NaN
2  54  OPEN   8  25  2018-03-13 15:23:01 NaN
3  56  OPEN  30  10  2018-03-13 15:22:42 NaN
4   6  OPEN   5  15  2018-03-13 15:23:30 NaN

In [15]:
HourList_test = []
for row in df.iterrows():
    split = row[1][4].split(' ')
    hour = (split[1].split(':'))
    HourList_test.append(hour[0])
HourList_test

['15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '17',
 '16',
 '16',
 '17',
 '17',
 '17',
 '16',
 '16',
 '16',
 '17',
 '16',
 '17',
 '16',
 '17',
 '17',
 '16',
 '16',
 '16',
 '16',
 '17',
 '16',
 '16',
 '17',
 '16',
 '17',
 '16',
 '17',
 '16',
 '16',
 '16',
 '17',
 '16',
 '16',
 '16',
 '16',
 '16',
 '17',
 '17',
 '16',
 '17',
 '16',
 '16',
 '16',
 '17',
 '16',
 '16',
 '16',
 '17',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '17',
 '16',
 '16',
 '16',
 '16',
 '17',
 '16',
 '16',
 '16',
 '17',
 '16',
 '17',
 '16',
 '17',
 '17',
 '17',
 '17',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '16',
 '17',
 '17',
 '17',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '17',
 '16',
 '17',
 '16',
 '16',
 '16',
 '16',
 '17',
 '16',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '16',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '16',
 '17',
 '16',
 '17',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '16',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '16',
 '17',
 '16',
 '17',
 '16',
 '17',
 '17',
 '17',
 '17',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '16',
 '17',
 '17',
 '17',
 '17',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '16',
 '17',
 '17',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 ...]

In [16]:
df_HourTest = pd.DataFrame({'Hour':HourList_test})
df_HourTest['Hour'] = df_HourTest['Hour'].astype('int64')

df_newTest = pd.concat([df, df_HourTest], axis=1)
df_newTest.tail()

         0     1   2   3                    4   5  Hour
227995  28  OPEN  16  14  2018-03-27 11:24:37 NaN    11
227996  39  OPEN  12   7  2018-03-27 11:31:50 NaN    11
227997  83  OPEN   0  40  2018-03-27 11:31:55 NaN    11
227998  92  OPEN   0  40  2018-03-27 11:29:05 NaN    11
227999  21  OPEN  29   0  2018-03-27 11:25:22 NaN    11

In [17]:
DayList_Test = []
for row in df_newTest.iterrows():
    split = row[1][4].split(' ')
    DayList_Test.append(split[0])
DayList_Test

['2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 '2018-03-13',
 ...]

In [18]:
df_Test = pd.DataFrame({'Day': DayList_Test})
df_Test['Day'] = df_Test['Day'].astype('str')

df_Testing = pd.concat([df_Test, df_newTest], axis=1)
df_Testing.tail()

               Day   0     1   2   3                    4   5  Hour
227995  2018-03-27  28  OPEN  16  14  2018-03-27 11:24:37 NaN    11
227996  2018-03-27  39  OPEN  12   7  2018-03-27 11:31:50 NaN    11
227997  2018-03-27  83  OPEN   0  40  2018-03-27 11:31:55 NaN    11
227998  2018-03-27  92  OPEN   0  40  2018-03-27 11:29:05 NaN    11
227999  2018-03-27  21  OPEN  29   0  2018-03-27 11:25:22 NaN    11

In [21]:
df_Testing = df_Testing.drop([4], axis=1)
df_Testing = df_Testing.drop([1], axis=1)

df_Testing.tail()

               Day   0   2   3   5  Hour
227995  2018-03-27  28  16  14 NaN    11
227996  2018-03-27  39  12   7 NaN    11
227997  2018-03-27  83   0  40 NaN    11
227998  2018-03-27  92   0  40 NaN    11
227999  2018-03-27  21  29   0 NaN    11

In [20]:
df_Testing.columns = ['Day','station','available_bikes', 'available_stands', 'Hour']
df_Testing.tail()

ValueError: Length mismatch: Expected axis has 8 elements, new values have 5 elements

In [ ]:
df_finished = df_Testing.merge(final_df, how='inner', on = ['Day', 'Hour'])

In [ ]:
df_finished.head()

In [ ]:
for i in df_finished:
    print(i)

In [ ]:
percentage = []
for row in df_finished.iterrows():
    figure = df_finished['available_bikes'] / (df_finished['available_bikes'] + df_finished['available_stands'])
    percentage.append()
percentage